.header {
  width: 100%;
  min-height: 74px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  .header {
    min-height: 56px;
    padding-left: 27px;
  }
}
